:root {
--color-primary-dashboard: #f2f2f2;
--color-primary-font:#616262;
--color-inputs: #f4f5f7;
--color-btn-green: #46be8a;
--color-black:#000000;
--color-white:#FFFFFF;
--color-secondery-font:#c1bebe;
--color-feature:#62a8ea;
--color-tag:#ea9862;
--shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
--shadow-light: 0 2rem 5rem rgba(0,0,0,.6);
--table-border:1px solid #dedede;
--btn-green: #46be8a;
--btn-red: #be4646;
--open-sans-font: 'Open Sans', sans-serif; 
}

/*
0 - 768px:  Phones (Extra small devices )
768px -992px : Tablet Portrait Mode/Small devices Tablets 
992px - 1200px : Tablet Landscape/ Desktops 



$breakingpoint argument choises:
- phone
- tab-port
- tab-land/desktop


1em = 16px;

*/


h1,
h2,
h3,
h4,
h5,
h6,
*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
color: var(--color-black); }

body {
font-family: 'Open Sans Hebrew';
letter-spacing: .3px;
font-weight: 400;
line-height: 1.7;
box-sizing: border-box;
margin: auto; 

}


.text-white {
color: white;
}

.text-center {
text-align: center;
}

.dashboard {
display: flex;
flex-direction: row-reverse;
min-height: 100vh;
justify-content: space-between;
}

.dashboard__left {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
background-color: #f2f2f2;
}


.dashboard__right {
flex: 1 0 15%;
display: flex;
max-width: 190px;
}



.dashboard__figure {
text-align: center;
}

.dashboard__caption {
font-size: 1.8rem;
color: #303030;
}


.dashboard__img {
margin-bottom: 6rem;
}

.navigation {
background-color: #0d263e;
flex-grow: 1;
display: flex;
flex-direction: column;
}

.navigation__logo-container {
flex: 0 0 55px;
background: #031a30;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 4rem;
}

.navigation__nav {
flex: 1;
display: flex; }

.navigation__list {
flex: 1; }

.navigation__item {
height: 42px;
list-style-type: none;
display: flex;
align-items: center; }

@media (max-width: 991px) {
.navigation__item {
justify-content: center; } }


.navigation__link {
color: var(--color-white);
font-size: 1.6rem;
text-decoration: none;
text-transform: uppercase;
padding-right: 4rem;
flex: 1;
position: relative; }

@media (max-width: 991px) {
.navigation__link {
padding: 0;
flex: none; } }

.navigation__link::before {
content: '';
display: block;
width: 0px;
height: 0;
opacity: 0;
background-color: #ff5400;
position: absolute;
right: 0;
top: 0;
bottom: 0;
transition: all 0.35s; }

.navigation__link:link, .navigation__link:visited {
color: var(--color-white);
text-decoration: none;
text-transform: uppercase; }

.navigation__link:hover, .navigation__link:active {
color: #ff5400; }


.navigation__link:hover::before {
content: '';
display: block;
width: 5px;
height: 100%;
opacity: 1;
background-color: #ff5400;
position: absolute;
right: 0;
top: 0;
bottom: 0; }


.table-data {
align-self: stretch;
flex: 1;
padding: 6rem 9rem 0 6rem;
display: flex;
font-size: 1.4rem;
}

.table-data__container {
width: 100%;
max-width: 1200px;
}


.table-data__heading {
font-size: 3rem;
margin-bottom: 2.5rem;
}


.table-data__createAndSearch-bar {
border: 1px solid #dedede;
padding: 1.5rem 2.5rem;
display: flex;
justify-content: space-between;
background-color: white;
align-items: center;
margin-bottom: 2rem;
}

.table-data__search-bar {
flex: 0 1 330px;
position: relative;
}


.table-data__search-icon {
position: absolute;
top: 0;
bottom: 0;
margin: auto;
margin-right: 15px;
width: 1.5rem;
height: 1.5rem;
fill: #b9bec2;
}



.table-data__search-input {
width: 100%;
border-radius: 100px;
outline: none;
border: none;
background-color: var(--color-inputs);
padding: 1.5rem 5rem 1.5rem 0;
max-height: 3.5rem;
}

.button--link:link, .button--link:visited {
color: var(--color-white);
text-decoration: none;
text-transform: uppercase;
cursor: pointer;
}

.button--green {
background-color: var(--btn-green);
}


.button--red {
background-color: var(--btn-red);
}


.button--big {
padding: 1.5rem 3rem;
}


.button {
max-height: 40px;
font-size: 1.4rem;
color: var(--color-white);
border-radius: 7px;
line-height: initial;
outline: none;
cursor: pointer;
}


.table-data {
align-self: stretch;
flex: 1;
padding: 6rem 9rem 0 6rem;
display: flex;
font-size: 1.4rem; }
@media (max-width: 991px) {
.table-data {
padding: 6rem 4.5rem 0 4.5rem;
flex-direction: column; } }
@media (max-width: 767px) {
.table-data {
padding-right: 1rem;
padding-left: 1rem; } }
.table-data__container {
width: 100%;
max-width: 1200px; }
.table-data__heading {
font-size: 3rem;
margin-bottom: 2.5rem; }
.table-data__createAndSearch-bar {
border: var(--table-border);
padding: 1.5rem 2.5rem;
display: flex;
justify-content: space-between;
background-color: var(--color-white);
align-items: center;
margin-bottom: 2rem; }
@media (max-width: 767px) {
.table-data__createAndSearch-bar {
justify-content: center;
flex-wrap: wrap; } }
.table-data__search-bar {
flex: 0 1 330px;
position: relative; }
@media (max-width: 767px) {
.table-data__search-bar {
flex: 1 1 100%; } }
@media (max-width: 767px) {
.table-data__btn_container {
margin-top: 25px;
margin-bottom: 10px; } }
.table-data__search-input {
width: 100%;
border-radius: 100px;
outline: none;
border: none;
background-color: var(--color-inputs);
padding: 1.5rem 5rem 1.5rem 0;
max-height: 3.5rem; }
.table-data__search-input::-webkit-input-placeholder {
font-size: inherit;
color: var(--color-primary-font); }
.table-data__search-icon {
position: absolute;
top: 0;
bottom: 0;
margin: auto;
margin-right: 15px;
width: 1.5rem;
height: 1.5rem;
fill: #b9bec2; }
.table-data__table {
border: var(--table-border);
background-color: var(--color-white);
font-size: 1.4rem;
color: var(--color-primary-font); }
.table-data__table-row {
font-size: inherit;
color: inherit;
display: flex;
text-align: center;
border-bottom: var(--table-border); }
.table-data__table-cell {
font-size: inherit;
color: inherit;
padding: 2.5rem 0;
flex: 1 1 90px;
display: flex;
justify-content: center;
align-items: center; }
.table-data__table-cell:not(:last-child) {
border-left: var(--table-border); }
.table-data__table-cell--name {
flex: 4 1 90px;
display: flex;
align-items: center;
justify-content: center; }
.table-data__table-cell--hash {
flex: 0 0 65px; }
@media (max-width: 767px) {
.table-data__table-cell--hash {
display: none; } }
.table-data__table-cell--image {
padding: 0; }
.table-data__table-cell--image img {
width: 80%;
height: auto;
object-fit: contain;
transform: scale(1);
background: transparent;
transition: all 1s; }
.table-data__table-cell--image img:hover {
transform: scale(5);
background: white;
z-index: 10; }
@media (max-width: 767px) {
.table-data__table-cell--actions {
padding: 0; } }
.table-data__table-icons-box {
display: flex;
justify-content: center;
align-items: center;
font-size: 0; }
@media (max-width: 767px) {
.table-data__table-icons-box {
flex-direction: column;
height: 100%;
justify-content: space-around; } }
.table-data__table-icons-box-button {border: none;outline: none;background-color: transparent;cursor: pointer;}
.table-data__table-icons-box-button:not(:last-child) {
margin-left: 10px; }
@media (max-width: 767px) {
.table-data__table-icons-box-button:not(:last-child) {
margin: 0; } }
.table-data__table-delete-icon {
height: 2rem;
width: 2rem;
fill: #757272; }
.table-data__table-delete-icon:hover {
fill: #be4646; }
.table-data__table-edit-icon {
height: 1.5rem;
width: 1.5rem;
fill: #666666; }
.table-data__table-copy-icon {
height: 1.5rem;
width: 1.5rem;
fill: #757272; }
.table-data__table-translate-icon {
height: 1.5rem;
width: 1.5rem;
fill: #757272; }

.table-data__table-translate-icon:hover {
fill: #031a30; }
.table-data__table-prev-icon {
fill: #0d263e;
height: 2rem;
width: 2rem; }
.table-data__table-notPublished-icon {
width: 2.5rem;
height: 2.5rem;
fill: #be4646;
font-weight: bold;
cursor: pointer; }
.table-data__table-published-icon {
width: 2.5rem;
height: 2.5rem;
fill: #46be8a;
font-weight: bold;
cursor: pointer; }
.table-data__table-publish-icon {
width: 2.5rem;
height: 2.5rem;
fill: #757272;
font-weight: bold; }
.table-data__table-publish-icon:hover {
fill: #46be8a; }
.table-data__table-dontPublish-icon {
width: 2.5rem;
height: 2.5rem;
fill: #757272;
transform: rotate(180deg);
font-weight: bold; }
.table-data__table-dontPublish-icon:hover {
fill: #be4646; }



.crud {
padding: 5rem 4rem; }
.crud__form {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 3.5rem; }
.crud__form-group {
display: flex;
padding: 1rem 2rem 1rem 1.5rem;
z-index: 2;
border: var(--table-border);
border-radius: 5px;
margin-bottom: 2.5rem;
flex: 0 0 48%;
max-height: fit-content; }
@media (max-width: 767px) {
.crud__form-group {
flex: 1 1 100%; } }
.crud__label {
margin-bottom: 30px;
font-size: 1.8rem;
color: var(--color-secondery-font);
font-weight: 100; }
.crud__input {
flex: 1;
outline: none;
border: none;
font-size: 1.8rem;
color: var(--color-primary-font);
background-color: transparent; }
.crud__input::-webkit-input-placeholder {
color: var(--color-secondery-font);
font-weight: 100; }
.crud__input--select {
color: var(--color-secondery-font); }
.crud__flag-icon-box {
display: flex;
align-items: center; }
.crud__flag-icon-title {
font-size: 1.8rem;
color: var(--color-secondery-font);
margin-left: 30px; }
.crud__flag-icon {
height: 29px;
width: 40px;
font-size: 18px;
line-height: 2; }
.crud__buttonsContainer {
text-align: center; }



.jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: fixed;
    margin: auto;
    width: 150px;
    height: 150px;
    display: none;
    z-index: 9999;
  }
  .jumper > div {
    background-color: #666666;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 150px;
    height: 150px;
    -webkit-animation: jumper 2s 0s linear infinite;
    animation: jumper 2s 0s linear infinite;
  }
  .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;  
  }
  .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  }
  @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }



  .dropzone {
    min-height: 150px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}


.box {
    border: var(--table-border);
    /* padding: 1.5rem 2.5rem; */
    justify-content: space-between;
    background-color: var(--color-white);
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.previewImg {
    padding: 2em;
}
  
.previewImg img {
max-height: 150px;
}


.iconSize img {

    max-width: 50px;

}

.bootstrap-tagsinput {
    background-color: #fff;
    border: none;
    box-shadow: none;
font-size: inherit;
}


.bootstrap-tagsinput .tag [data-role="remove"] {
margin-left: 0px;
    margin-right: 8px;
}

.bootstrap-tagsinput .tag {
    font-size: 1.8rem;
}

.tt-hint {
    z-index: -1;
}

.label {

  line-height: 2.2;

}


.padding-5-lr {
  padding-right: 5px;
  padding-left: 5px;
}

.navigation__logo-img {  
  height: 60px;
padding-bottom: 5px;
padding-top: 5px;
}